<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Your Name Database Editor </title>
		<link href="./css/style.css" rel="stylesheet">
	<head>
	<body>

		{{{body}}}
	</body>



</html>

